Use for previewing and processing raw data

In [2]:
import pandas as pd
import numpy as np

In [22]:
# Loading food waste database: Joakim_Arvidsson_Food Waste

# Load the dataframe
raw_df = pd.read_csv('raw_data/Joakim_Arvidsson_Food Waste data and research - by country.csv')

# Combine the household and retail food waste columns
raw_df['Total Food Waste (tonnes/year)'] = raw_df['Household estimate (tonnes/year) '] + raw_df['Retail estimate (tonnes/year) ']

# Filter it so we only have the columns needed
filtered_df = raw_df.filter(items=['Country                      ', 'Total Food Waste (tonnes/year)'])

filtered_df.head()

   Country                        Total Food Waste (tonnes/year)
0  Afghanistan                                           3704135
1  Albania                                                283550
2  Algeria                                               4591889
3  Andorra                                                  7485
4  Angola                                                3667278